<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Piscean_Ltd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Piscean_Ltd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <Piscean_Ltd.Properties.Settings>
      <setting name="License" serializeAs="String">
        <value />
      </setting>
      <setting name="EntryButtonName" serializeAs="String">
        <value />
      </setting>
      <setting name="EntryButtonNumber" serializeAs="String">
        <value />
      </setting>
      <setting name="EntryButtonDescription" serializeAs="String">
        <value />
      </setting>
      <setting name="TrialTime" serializeAs="String">
        <value />
      </setting>
      <setting name="Checked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TrialOnGoing" serializeAs="String">
        <value>Yes! Trial is active.</value>
      </setting>
      <setting name="TrialExpired" serializeAs="String">
        <value>Ohh no! Trial expired.</value>
      </setting>
      <setting name="DateTrial" serializeAs="String">
        <value>2017-05-11</value>
      </setting>
      <setting name="ButtonDisabled" serializeAs="String">
        <value>false</value>
      </setting>
    </Piscean_Ltd.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Piscean_Ltd.Properties.Settings>
      <setting name="Title" serializeAs="String">
        <value />
      </setting>
    </Piscean_Ltd.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>